---
// Component Imports
import Admin from '../components/Admin';
import AdminButton from '../components/Adminbutton';

import { signal } from '@preact/signals';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

const count = signal(0);
const showingAdmin= signal(false);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<AdminButton showingAdmin={showingAdmin} client:visible count={count}></AdminButton>
			<Admin showingAdmin={showingAdmin} count={count} client:visible>
				<h1>Hello, Preact 1!</h1>
			</Admin>

		</main>
	</body>
</html>